@using Models
@model WorldOfWords.Web.ViewsModels.RaitingViewModel

@{
    ViewBag.Title = "Статистика";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool odd = true;
    int rank = 1;

}

<h2>Статистика</h2>
<div class="row">
    <div class="col-md-6">
        @if (Model.UsersStatsBalance != null && Model.UsersStatsBalance.Count > 0)
        {
            <h5><strong>Голдъни</strong></h5>
            <section>
                <table class="table table-striped table-hover">
                    <tr class="warning">
                        <td>Място</td>
                        <td>Име</td>
                        <td>Голдъни</td>
                    </tr>
                        @foreach (var user in Model.UsersStatsBalance)
                        {
                            <tr class="@(User.Identity.IsAuthenticated && user.Id == Model.LoggedUser.Id ? "danger" : odd ? "info" : "success")">
                                <td>
                                    @rank
                                </td>
                                <td>
                                    @user.UserName
                                </td>
                                <td>
                                    @user.Balance
                                </td>
                            </tr>
                            odd = !odd;
                            rank++;
                        }
                </table>
            </section>
        }
        @if (Model.UserPlaceBalance > ViewBag.ratingRows)
        {
            <div>
                Твоето място: <strong>@Model.UserPlaceBalance</strong>
            </div>
        }
    </div>
    <div class="col-md-6">
        @if (Model.UsersStatsPoints != null && Model.UsersStatsPoints.Count > 0)
        {
            rank = 1;
            odd = true;
            <h5><strong>Точки</strong></h5>
            <section>
                <table class="table table-striped table-hover ">
                    <tr class="warning">
                        <th>Място</th>
                        <th>Име</th>
                        <th>Точки</th>
                    </tr>
                    @foreach (var user in Model.UsersStatsPoints)
                    {
                        <tr class="@(User.Identity.IsAuthenticated && user.Id == Model.LoggedUser.Id ? "danger" : odd ? "info" : "success")">
                            <td>
                                @rank
                            </td>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @user.EarnedPoints
                            </td>
                        </tr>
                        odd = !odd;
                        rank++;
                    }

                </table>
            </section>
        }
        @if (Model.UserPlaceBalance > ViewBag.ratingRows)
        {
            <div>
                Твоето място: <strong>@(Model.UserPlacePoints)</strong>
            </div>
        }
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        @if (Model.UsersStatsMostPointOfWord != null && Model.UsersStatsMostPointOfWord.Count > 0)
        {
            rank = 1;
            odd = true;

            <h5><strong>Най-много точки от една дума</strong></h5>
            <section>
                <table class="table table-striped table-hover">
                    <tr class="warning">
                        <th>Място</th>
                        <th>Име</th>
                        <th>точки комбо</th>
                    </tr>

                    @foreach (var user in Model.UsersStatsMostPointOfWord)
                    {
                        <tr class="@(User.Identity.IsAuthenticated && user.Id == Model.LoggedUser.Id ? "danger" : odd ? "info" : "success")">
                            <td>
                                @rank
                            </td>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @user.MostPointsOfWord
                            </td>
                        </tr>
                        odd = !odd;
                        rank++;
                    }
                </table>
            </section>
        }
        @if (Model.UserPlaceMostPointOfWord > ViewBag.ratingRows)
        {
            <div>Твоето място: <strong>@Model.UserPlaceMostPointOfWord</strong></div>
        }
    </div>
    <div class="col-md-6">
        @if (Model.UsersStatsSpendMoney != null && Model.UsersStatsSpendMoney.Count > 0)
        {
            rank = 1;
            odd = true;

            <h5><strong>Похарчени голдъни</strong></h5>
            <section>
                <table class="table table-striped table-hover ">
                    <tr class="warning">
                        <th>Място</th>
                        <th>Име</th>
                        <th>голдъни</th>
                    </tr>

                    @foreach (var user in Model.UsersStatsSpendMoney)
                    {
                        <tr class="@(User.Identity.IsAuthenticated && user.Id == Model.LoggedUser.Id ? "danger" : odd ? "info" : "success")">
                            <td>
                                @rank
                            </td>
                            <td>
                                @user.UserName
                            </td>
                            <td>
                                @user.SpentMoney
                            </td>
                        </tr>
                        odd = !odd;
                        rank++;
                    }
                </table>
            </section>
        }
        @if (Model.UserPlaceSpendMoney > ViewBag.ratingRows)
        {
            <div>Твоето място: <strong>@(Model.UserPlaceSpendMoney)</strong></div>
        }
    </div>
</div>
