@model IEnumerable<WorldOfWords.Web.ViewsModels.CartItem>

<table class="table">
    <tr>
        <td colspan="4" style="text-align: right">
            <h3>Total: @ViewBag.TotalPrice</h3>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: right">
            <input type="button" name="buy" value="Buy" class="btn btn-lg btn-success" onclick=" buyWords(shopList) "/>
            <input type="button" name="delete-all" value="Delete All" class="btn btn-lg btn-danger" onclick="deleteAllFromCart(shopList)" />
        </td>
    </tr>

    <tr>
        <th>Word</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Delete</th>
    </tr>
    <tbody id="cart-words">
    @foreach (var word in Model)
    {
        <tr id="cart-word-@word.WordId">
            <td>
                @word.Word
            </td>
            <td>
                @word.Quantity
            </td>
            <td>
                @word.Price * @word.Quantity = @(word.Price*word.Quantity)
            </td>
            <td><input type="button" name="delete" value="Delete" class="btn btn-danger" onclick="deleteFromCart(@word.WordId, shopList)"/></td>
        </tr>
    }
    </tbody>
</table>